{% load static %}
<!DOCTYPE html>
<html>
    <head>
     
        <link type='text/css' href='{%static "core\css\bootstrap.min.css" %}' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link type='txt/css' href='{% static "core\css\qs.css" %}' rel='stylesheet' >   
         <title> Quienes Somos</title>      
    </head>

    <header>
    <div class="container-fluid">
        <div id= "titulo">
    <h1 class="text-center">Quienes Somos</h1>
     </div>
     </div>
     </div>
    
    </header>


    <body style='background-image: url(https://images6.alphacoders.com/371/thumb-1920-371656.jpg);'>  
        <p id = "par_caja" class= text-center>Somos una empresa familiar fundada el 15-04-2021 de Abril de 2021, con alto conocimiento en la producción y venta de Tablas de comida,
                                   la experiencia adquirida a través de los años, nos da el conocimiento para valorar la importancia del cliente,
              quien es el motivo de nuestros esfuerzos, y así llegar a ustedes con la seguridad de poder ofrecerles nuestros productos de excelente calidad con responsabilidad 
               y cumplimiento. Contamos con excelente calidad humana que les brindara la atención apropiada, para de esta manera poder llegar a saber y entender sus gustos
                                        y necesidades. El hecho de contar con ustedes como nuestros clientes es motivo de satisfacción. <br>
                                                     <br> El Tablazo les da una gran bienvenida</p>
       </div>
       
       <script  type='text/javascript' src='{% static "core\js\jquery-3.5.1.slim.min.js" %}' > </script>
       <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
       <script  type='text/javascript' src='{% static "core\js\bootstrap.bundle.min.js" %}' >  </script>
    </body>

</html>